<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>  
    <app-navbar></app-navbar>
    
    <main>
      <!-- Topo  -->
      <section class="topo-turmas">
        <div class="grupo container">
          <div class="esquerda">
            <p class="titulo">Termos</p>
            <p class="legenda">Qual Termo Você gostaria de acessar hoje?</p>
          </div>
          <div class="direita">
            <button class="d-flex justify-content-center align-items-center p-2">
              <p><span class="m-2">+  </span> Adicionar Turma</p>
            </button>
          </div>
        </div>
      </section>

      <!-- Blocos -->
       <section class="d-flex justify-content-center ">
        <div class="blocos container d-flex flex-column">
          <div class="row justify-content-between ">
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5">
              <div class="bloco" style="--color:#E2F4C5">
                <p>1° Termo</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5">
              <div class="bloco" style="--color:#EEE7DA">
                <p>2° Termo</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5">
              <div class="bloco" style="--color:#A5DD9B">
                <p>3° Termo</p>
              </div>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5">
              <div class="bloco" style="--color:#C5EBAA">
                <p>4° Termo</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5">
              <div class="bloco" style="--color:#FFFFDD">
                <p>5° Termo</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center mb-5 ">
              <div class="bloco" style="--color:#AFC8AD">
                <p>6° Termo</p>
              </div>
            </div>
        </div>
        </div>
       </section>
    </main>


</body>
</html>