<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section class="login d-flex justify-content-center align-items-center">
        <div class="container row gap-4">
            <!-- Esquerda -->
            <div class="esquerda col-lg-7  align-self-center">
                <img class="w-100" src="assets/images/img-login.svg">
            </div>

            <!-- Direita  -->
            <div class="direita col-lg-4 col-md-12 col-12 d-flex flex-column justify-content-center">

                <!-- Bolsa "Titulo do formulario" -->
                <div class="d-flex flex-column align-items-center">
                    <img class="bolsa-verde mb-3" src="assets/images/bolsa-verde.png">
                    <p class="titulo">Guia do Mochileiro <br>Fatecano</p>
                </div>

                <!-- Formulario -->
                <div>
                    <form class="d-flex flex-column gap-4 align-items-center">
                        <div class="d-flex flex-column w-100">
                            <label for="email" class="mb-1">E-mail</label>
                            <input type="email" placeholder="Digite seu e-mail">    
                        </div>
                        <div class="d-flex flex-column w-100">
                            <label for="password" class="mb-1">Senha</label>
                            <div class="senha">
                                <input id="inputSenha" [type]="mostrar ? 'text':'password'" placeholder="Digite sua Senha">
                                <img id="cadeado" class="cadeado" (click)="mostrarSenha()" [src]="mostrar ? 'assets/images/cadeado-aberto.png':'assets/images/cadeado.svg'">
                            </div>
                        </div>
                        <div class="w-100">
                            
                                <input class="btn-entrar w-100" value="Entrar" type="submit">
                               
                     
                        </div>
                        <p class="link">Ainda não possui conta? <a href="/cadastro">Cadastre-se</a></p>
                    </form>
                </div>

                <!-- Link -->
                
            </div>
        </div>
    </section>
</body>
</html>
